doctype html
html(lang="en")
	head

		<!-- STYLES -->
		<link href="cdn/css/font-awesome.min.css" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" title="cardsize" href="css/bigcards.css" type="text/css" media="all" />

		<!-- FONTS -->
		<link href='cdn/css/Covered_By_Your_Grace.css' rel='stylesheet' type='text/css'>
		<link href='cdn/css/Rock_Salt.css' rel='stylesheet' type='text/css'>

		<!-- SCRIPTS -->

		<!-- jQuery -->
		<script src="cdn/script/jquery-1.11.0.min.js"></script>
		<script src="cdn/script/jquery-ui.js"></script>

		<!-- External Scripts -->
		<script src="lib/jquery.ui.touch-punch.min.js"></script>
		<script src="lib/jquery.jeditable.js"></script>
		<script src="lib/jquery.blockUI.js"></script>

		<!-- Socket.IO -->
		<script src="socket.io/socket.io.js"></script>

		<!-- ** My Script ** -->
		<script src="script.js"></script>


		title= locals.pageTitle

	body
		block body
